<div class="container">
    <div class="bs-docs-section" clearfix>
        <div class="row">
            <div class="col-lg-12">
                <h1>Home</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2>Les mobilités :</h2>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89608.40074767549!2d4.2964249556462475!3d45.424209081742724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f5abff0dcfe415%3A0x631b2db87635756!2sSaint-%C3%89tienne!5e0!3m2!1sfr!2sfr!4v1611920171339!5m2!1sfr!2sfr"
                    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
        </div>
    </div>
</div>